@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Sathiyan Rajendran</h1>
    <h2>Undoing changes on github</h2>
    <h3>Sathiyan</h3>
    <h1>Hello All</h1>
    <h2> Hello all</h2>
    <h2>Whiteblue solutions</h2>
    <h2>Soda water</h2>
    <h3>Merge soda</h3>
    <h2>Chickpunch</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
